footer {
  @include displayFlex(flex-start, center, row);
  gap: 15vw;
  position: relative;
  background-color: $very-dark-blue;
  color: white;
  padding: 7rem 4rem;

  & div {
    line-height: 3rem;
  }
}

.phone {
  @include displayFlex(flex-start, center, row);
  width: 110%;
  & img {
    margin-right: 1rem;
    width: 10%;
  }
}

.emil {
  @include displayFlex(flex-start, center, row);
  & img {
    margin-right: 1rem;
    width: 10%;
  }
}

.footer-right {
  & ion-icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
    font-size: 2rem;
  }
}

.attribution {
  position: absolute;
  bottom: 1rem;
  right: 10%;
  font-size: 1rem;
  text-align: center;
  & a {
    color: $desaturated-blue;
  }
}
